<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h3>{{message}}</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Phone No.</th>
                        <th>Department</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in empList">
                        <td>{{m.empId}}</td>
                        <td>{{m.firstName + ' ' + m.lastName}}</td>
                        <td>{{m.gender}}</td>
                        <td>{{m.address}}</td>
                        <td>{{m.phone}}</td>
                        <td>{{m.deptName}}</td>
                        <td>
                            <a class="btn btn-primary" ui-sref="editEmp({id:m.empId})">Edit</a>
                            <a class="btn btn-danger" ng-click="delete(m)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>